/* SCHEMA DI COLORI LIGHT MODE */
@media(prefers-color-scheme: light) {
    :root {
        --background:         var(--background-light);
        --logo:               var(--logo-light);
        --black:              var(--black-light);
        --white:              var(--white-light);
        --paragraph:          var(--paragraph-light);
        --text-important:     var(--text-important-light);
        --opacity:            var(--opacity-light); 
        --secondaryOpacity:   var(--secondaryOpacity-light);
        --thirdOpacity:       var(--thirdOpacity-light);
        --menuBar:            var(--menuBar-light);
        --buttonText:         var(--buttonText-light);
        --buttonBorder:       var(--buttonBorder-light);
        --buttonHover:        var(--buttonHover-light);
            /*Contact color*/
            --contact-field:  var(--contact-field-light);
            --contact-text:   var(--contact-text-light);
            --contact-text2:  var(--contact-text2-light);
            --contact-input:  var(--contact-input-light);
            /*Maps color*/
            --maps-color1:    var(--maps-color1-light);
    }
}

/* SCHEMA DI COLORI DARK MODE */
@media(prefers-color-scheme: dark) {
    :root {
        --background:         var(--background-dark);
        --logo:               var(--logo-dark);
        --black:              var(--black-dark);
        --white:              var(--white-dark);
        --paragraph:          var(--paragraph-dark);
        --text-important:     var(--text-important-dark);
        --opacity:            var(--opacity-dark); 
        --secondaryOpacity:   var(--secondaryOpacity-dark);
        --thirdOpacity:       var(--thirdOpacity-dark);
        --menuBar:            var(--menuBar-dark);
        --buttonText:         var(--buttonText-dark);
        --buttonBorder:       var(--buttonBorder-dark);
        --buttonHover:        var(--buttonHover-dark)
            /*Contact color*/
            --contact-field:  var(--contact-field-dark);
            --contact-text:   var(--contact-text-dark);
            --contact-text2:  var(--contact-text2-dark);
            --contact-input:  var(--contact-input-dark);
            /*Maps color*/
            --maps-color1:    var(--maps-color1-dark);
    }
}