/* BOTTONI SUPERIORI PER LA SCELTA DELLE PAGINE*/
.nav_links {
    flex: 1;
    text-align: right;
    ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    ul li a {
        color: var(--buttonText);
        text-decoration: none;
        font-size: var(--smallText);
    }
}
nav {
    display: flex;
    padding: 0 1%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    img {
        width: 150px;
    }
    .fa-solid {
        display: none;
    }
}

/* BOTTONI PRESENTI NELLE PAGINE */
.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: var(--secondary);
    border: 1px solid var(--buttonBorder);
    padding: 12px 28px;
    border-radius: var(--radius);
    font-size: var(--smallText);
    background: transparent;
    cursor: pointer;
    &:hover {
        border: 1px solid var(--logo);
        background: var(--buttonHover);
        color: var(--main);
        transition: 0.3s;
    }
}
/* Bottoni secondari */
.btn--sub {
    display: inline-block;
    text-decoration: none;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    padding: 12px 28px;
    border-radius: var(--radius);
    font-size: var(--smallText);
    background: transparent;
    position: relative;
    cursor: pointer;
    &:hover {
        border: 1px solid var(--secondary);
        background: var(--main);
        color: var(--secondary);
        transition: 0.3s;
    }
}
.btn--sel {
    border: 1px solid var(--logo);
}

/* ICONE SOCIAL */
.fa {
    &--ig {
        color: #5851DB;
    }
    &--github {
        color: black;
    }
    &--yt {
        color: red;
    }
}