/* SCHEMA DI COLORI LIGHT MODE */
@media(prefers-color-scheme: light) {
    :root {
        --background:         var(--background-light);
        --logo:               var(--logo-light);
        --mainColor:          var(--mainColor-light);
        --secondaryColor:     var(--secondaryColor-light);
        --paragraph:          var(--paragraphColor-light);
        --opacity:            var(--opacity-light); 
        --secondaryOpacity:   var(--secondaryOpacity-light);
        --menuBar:            var(--menuBar-light);
        --buttonText:         var(--buttonText-light);
        --buttonBorder:       var(--buttonBorder-light);
        --buttonHover:        var(--buttonHover-light);
            /*Contact color*/
            --contact-field:  var(--contact-field-light);
            --contact-text:   var(--contact-text-light);
            --contact-text2:  var(--contact-text2-light);
            /*Maps color*/
            --maps-color1:    var(--maps-color1-light);
    }
}

/* SCHEMA DI COLORI DARK MODE */
@media(prefers-color-scheme: dark) {
    :root {
        --background:         var(--background-dark);
        --logo:               var(--logo-dark);
        --mainColor:          var(--mainColor-dark);
        --secondaryColor:     var(--secondaryColor-dark);
        --paragraph:          var(--paragraphColor-dark);
        --opacity:            var(--opacity-dark); 
        --secondaryOpacity:   var(--secondaryOpacity-dark);
        --menuBar:            var(--menubar-dark);
        --buttonText:         var(--buttonText-dark);
        --buttonBorder:       var(--buttonBorder-dark);
        --buttonHover:        var(--buttonHover-dark)
            /*Contact color*/
            --contact-field:  var(--contact-field-dark);
            --contact-text:   var(--contact-text-dark);
            --contact-text2:  var(--contact-text2-dark);
            /*Maps color*/
            --maps-color1:    var(--maps-color1-dark);
    }
}