/* GALLERIA PER LE FOTO */
.gallery {
    @include gallery;
    margin: 0 auto;
    width: 900px;
    .photo {
        max-width: 100%;
        width: 100%;
        height: 600px;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: var(--radius);
    }
}