/*COLOR PALETTE DELLE PAGINE*/
:root {
    /*Light Theme*/
    --background-light:         white;
    --logo-light:               rgb(15, 136, 0);
    --text-light:               black;
    --text2-light:              black;
    --paragraph-light:          rgb(125, 123, 123);
    --opacity-light:            rgba(4,9,30,0.7); 
    --secondary-opacity-light:  rgba(0,0,0,0.7);
    --menu-color-light:         #aaa;
        /*Contact color*/
        --contact-field-light:  rgb(101, 101, 101);
        --contact-text-light:   #aaa;
        --contact-text2-light:  #fff;
        /*Maps color*/
        --maps-color1-light:    #59d3b4;


    /*Dark theme*/
    --background-dark:         rgb(37,37,37);
    --logo-dark:               rgb(15, 136, 0);
    --text-dark:               #fff;
    --text2-dark:              rgb(192, 192, 192);
    --paragraph-dark:          rgb(125, 123, 123);
    --opacity-dark:            rgba(4,9,30,0.7); 
    --secondary-opacity-dark:  rgba(0,0,0,0.7);
    --menu-color-dark:         #aaa;
        /*Contact color*/
        --contact-field-dark:  rgb(101, 101, 101);
        --contact-text-dark:   #aaa;
        --contact-text2-dark:  #fff;
        /*Maps color*/
        --maps-color1-dark:    #59d3b4;
}

/* KEYFRAMES PER IL FADE IN DEL TESTO */
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}