/* STYLE PER LA VISUALIZZAZIOEN DA MOBILE */
@media(max-width: 700px) {
    /*Bottoni*/
    nav {
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        .fa-solid {
            display: block;
            color: var(--secondary);
            margin: 5%;
            font-size: var(--mainParagraph);
        }
    }
    .nav_links {
        ul li {
            display: block;
        }
        position: fixed;
        background-color: var(--menuBar);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
        ul {
            padding: 30px;
        }
    }

    /*Bottoni*/
    .btn {
        color: var(--main);
        text-align: center;
        text-decoration: none;
        border: 1px solid var(--main);
        padding: 8px 8px;
        border-radius: var(--radius);
        font-size: var(--secondaryParagraph);
        background: transparent;
        width: 100px;
    }
    /*titolo spazio contattaci*/
    .contact {
        color: var(--main);
        h1 {
            font-size: var(--secondaryText);
        }
    }
    
    /*Riga nella pagina*/
    .row {
        h1 {
            color: var(--main);
        }
    }

    /*Colonna pagina*/
    /*Titolo style*/
    .info_col {
        h1 {
            font-size: var(--secondaryTitle);
        }
        p {
            font-size: var(--secondaryText);
        }
        iframe {
            max-width: 350px;
            max-height: 200px;
        }
        img {
            float: right;
            padding: 2px;
            max-width: 350px;
            max-height: 200px;
        }
    }

    /*Pagina maps style*/
    #graficoMap {
        width: 350px;
    }
    .map {
        width: 300px;
        height: 300px;
        margin-top: 300px;
    }
    #gallery {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #mapImages {
        border: 1px solid red;
        height: 80%;
        width: 80%;
        padding: 2%;
    }

    /*Galleria pagina media*/
    .gallery {
        height: 230px;
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: auto;
        img {
            height: 230px;
            width: 100%;
            flex-shrink: 0;
            object-fit: cover;
            position: sticky;
        }
    }

    /*Galleria pagina maps*/
    .gallery--maps {
        height: 230px;
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: auto;
        img {
            height: 230px;
            width: 100%;
            flex-shrink: 0;
            object-fit: cover;
            position: sticky;
        }
    }
}